  aside {
    float: right;
  }
  body {
    background-image: url('../img/Bakgrund.jpg');
    background-size: cover;
    font-size: 1rem;
    font-family: 'Montserrat, sans-serif';
    font-weight: 400;
  }

  main, header, footer {
    width: 65%;
    margin: 0 auto;
    padding: 1rem;
    background-color: rgba(66, 66, 66, 1.0);
    color: #efefef;
  }

  footer {
    padding-top: 3rem;
  }

  a {
   color: deepskyblue; 
  }

  p {
    font-family: 'Montserrat', sans-serif;
  }

  h1 {
    font-size: 3rem;
    text-align: center;
  }

  .h2 {
    border-bottom: 2px solid #efefef;
  } 

  h3 {
    color: #efefef;
    background-color: #666666;
    margin-bottom: 0.2rem;
  }